@media screen and (min-width: 1200px) {
  header {
    margin: 0 auto;
    width: 100%;
    height: 216px;
    background-image: url('/src/img/bg/background_ld.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    width: 100%;
    height: 216px;
    background-image: url('/src/img/bg/background_md.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 230px;
    background-image: url('/src/img/bg/background_sd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .lib {
    margin: 0 auto;
    width: 100%;
    height: 216px;
    background-image: url('/src/img/bg/Rectangle_ld.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lib {
    width: 100%;
    height: 216px;
    background-image: url('/src/img/bg/Rectangle_md.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .lib {
    width: 100%;
    height: 230px;
    background-image: url('/src/img/bg/Rectangle_sd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.head__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 66px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
}


.nav__menu {
  margin-right: 32px;
  position: relative;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav__menu__link {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  margin-left: 39px;
}

.nav__menu__link__index {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  margin-left: 39px;
}

.nav__menu__link__lib {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  margin-left: 39px;
}

.nav__menu__link__lib::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 122px;
  width: 80px;
  height: 4px;
  background-color: red;
  opacity: 1;
}

.nav__menu__link__index::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 40px;
  height: 4px;
  background-color: red;
  opacity: 1;
}

.error-js {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 0, 27);
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_btn {
  width: 15px;
  height: 15px;
  background-color: hsla(0, 0%, 100%, 0);
  background-image: url('/src/img/search.png');
  background-repeat: no-repeat;
  border: none;
  margin-left: -15px;
}

#search-box {
  display: block;
  padding: 8px;
  width: 420px;
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: hsla(0, 0%, 100%, 0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.5px solid #FFFFFF;
}
@media screen and (max-width: 767px) {
  #search-box {
    width: 300px;
  }
}

#search-box::placeholder {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

#search-box:focus {
  color: #FFFFFF;
  background-color: hsla(0, 0%, 100%, 0);
  border-color: hsla(0, 0%, 74%, 0);
  border-bottom: 0.5px solid #FFFFFF;
  outline: 0;
}

.lib__button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.lib__btn {
  width: 129px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;

  color: #FFFFFF;
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 136px;
  }

  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: #FF6B01;
  }
}
.current-btn {
  border: none;
  background-color: #FF6B01;
  color: #FFFFFF;
}