.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 16px;
    padding: 0px;
}

.gallery__title{
    @media screen and (max-width: 767px) {
        width: 280px;
        height: auto;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 336px;
        height: auto;
    }
    
    @media screen and (min-width: 1200px) {
        width: 395px;
        height: auto;
    }
}
.main__body{
    @media screen and (max-width: 767px) {
            width: 320px;
            margin: 0 auto;
        }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 768px;
            margin: 0 auto;
        }
    
    @media screen and (min-width: 1200px) {
            margin: 0 auto;
        }
}

.main__lib{
    padding-bottom: 30%;
}