<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal-btn">
            <svg width="30" height="30">
                <use href="/src/img/icon.svg#icon-btn-close"></use>
            </svg>
        </button>
        <div class="modal-form">

        </div>
    </div>
</div>

<!-- <ul>
    <li>
        <p><span>Vote / Votes</span>
            <span>
                <span></span>"/"<span></span>
            </span>
        </p>
    </li>
    <li>
        <p><span>Popularity</span><span></span></p>
    </li>
    <li>
        <p><span>Original Title</span><span></span></p>
    </li>
    <li>
        <p><span>Genre</span><span class="modal__genres"></span></p>
    </li>
</ul> -->

<p></p>