.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 99, 99, 0.7);
    top: 0;
    left: 0;
    transition: all 250ms ease 0s;
    min-height: 100%;    
    opacity: 1;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: opacity, background-color, box-shadow, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: all;
    transition-property: opacity, background-color, box-shadow, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    @media screen and (max-width: 767px) {
        position: relative;
        width: 280px;
        height: 80%;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        
    }

    @media screen and (min-width: 768px) {
        position: relative;
        width: 704px;
        height: 552px;
        background-color: #FFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
       
    }

    @media screen and (min-width: 1280px) {
        position: relative;
        width: 806px;
        height: auto;
        background-color: #FFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        
    }
}
.modal-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border: none;   
    cursor: pointer;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF;
    transition-property: opacity, background-color, fill, visibility, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill:rgb(255, 0, 27);
        transition-property: opacity, background-color, fill, visibility, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    

}

.modal-form{
    display: flex;
    justify-content: center;
}

.gallery__title{
    margin-top: 40px;
}
.modal__box_img{
    margin: 40px 16px 40px;
}
.modal__img{
    @media screen and (max-width: 767px) {
        width: 240px;
        height: 357px;
    }
        
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 264px;
        height: 374px;
    }
        
    @media screen and (min-width: 1200px) {
        width: 375px;
        height: 478px;
    }
}
.modal__title{
    margin: 0px 0px 20px 0px;
}
.modal__desc{
    padding: 0px;
    margin: 0 auto;
    
}
.modal__desc__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0 auto;
}

.modal__button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding-top: 40px;
        gap: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 15px;
        gap: 32px;
    }

    @media screen and (min-width: 1200px) {
        gap: 16px;
    }

}
.modal__btn {

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000;
    background-color: inherit;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        width: 129px;
        height: 44px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 152px;
        height: 44px;
    }


    @media screen and (min-width: 1200px) {
        width: 148px;
        height: 42px;
    }

    &:hover,
    &:focus {
        border-color: #FF6B01;
        background-color: #FF6B01;
    }
}

.option__list{
    color: #8C8C8C;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.option__value{
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding-right: 40px;
}
.option__vote{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    background: #FF6B01;
    border-radius: 5px;
    padding: 3px;
}

.modal__about__text{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.modal__genres{
    color: #FF6B01;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-right: 20px;
    
}